#content {
max-width: 1600px;
margin: 0 auto;
}
nav a {
    text-align: center;
    color: #1f2c5c;
    text-decoration: none;
}
#hero-msg h1, #her-msg h4 {
    text-align: center
}
.button-box {
    text-align: center
}
main section {
    text-align: center
}


#background {
    height: 725px;
}



body {
    background-color: #cfe8ef;
}
header {
    background-color: #1f2c5c;
}
nav a:hover {
    background-color: #08839b;
    color: #ffbe0a;
}
.book, .join {
    background-color: #ffbe0a;
    color: #1f2c5c;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #08839b;
    color: #ffbe0a;
}
#background {
    background-color: #1f2c5c;
}
.msg {
    background-color:#cfe8ef;
    color: #08839b;
}
footer {
    background-color: #1f2c5c;
    color: #cfe8ef;
}


.home-title {
    color: #cfe8ef;
}
h4 { 
    color: #1f2c5c;
}
.msg h2 {
    color: #08839b;
}
.msg p {
    color: #08839b;
}
footer a {
    color: #08839b;
    text-decoration: none;
}
footer a:hover {
    color: #ffbe0a;
}


.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}